@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello and welcome to MyVitec</h1>
</div>


<div>
    <img src="~/Images/Vitec-facade (1).jpg"/>
</div>
<div>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel neque ut nunc sodales elementum ac at lacus. Aenean lobortis leo non lacinia facilisis. Curabitur vehicula fringilla velit, dapibus venenatis tortor venenatis in. In vel tempus sem. Nulla dui nunc, viverra ac venenatis vel, ultricies ut ipsum. Aenean at tempus erat. Vivamus molestie lobortis nunc, id molestie velit dignissim non. Aliquam tortor risus, laoreet in lacus et, egestas fringilla turpis. Cras faucibus, nisl eu vehicula blandit, metus dui commodo diam, at porta erat dui eu neque. Aliquam cursus sodales ex, sit amet pharetra est elementum nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum blandit mi quis sem semper, quis bibendum ante tristique. Etiam volutpat dui id pharetra pharetra. Sed sapien turpis, auctor eget blandit sed, eleifend sit amet nisi. Pellentesque at euismod elit, sit amet sollicitudin felis.

    Nam euismod eget felis in semper. Nulla at lacus id risus ullamcorper tempor eget non urna. Donec iaculis ipsum eros, posuere efficitur augue sagittis vel. Proin suscipit erat sapien, quis vulputate felis euismod et. Nulla sit amet ex pellentesque, blandit quam ut, consequat mi. Maecenas placerat sit amet urna at volutpat. Nullam ultricies luctus lorem at varius. Donec nec urna at nisl porttitor posuere. Pellentesque tincidunt at dui id sollicitudin. Curabitur feugiat vulputate nunc eu congue. Pellentesque ullamcorper tempor tortor et mattis. Etiam tincidunt elit maximus sapien luctus, nec tempus eros blandit. Nullam egestas, erat quis porta gravida, eros lectus volutpat purus, eu pulvinar sem dui non turpis. Nam non mi ultrices, ornare neque non, faucibus sapien.

    Curabitur viverra, felis nec finibus efficitur, lectus dui placerat orci, malesuada pulvinar nulla nulla sed mi. Ut maximus, tortor nec eleifend mollis, velit eros mollis mauris, vitae aliquet dolor mi at nunc. Pellentesque blandit ante ac nisl rhoncus, vitae tempor nibh ultrices. Donec eleifend orci eu leo elementum bibendum. Nam efficitur sem sit amet ex posuere dapibus. Aliquam sed erat semper, gravida arcu ut, viverra erat. Nunc lacus risus, tincidunt a ex sit amet, cursus mollis dui. Nulla vitae leo turpis. Nullam faucibus vitae dolor nec rhoncus. Nam bibendum id mauris a tristique. Suspendisse potenti. Cras suscipit mi ut justo ultrices, non rhoncus dui interdum. Nunc nec fermentum elit. Maecenas laoreet ante pellentesque leo ullamcorper vulputate.
</div>
